body {
  font-family: "Muli", Arial;
}

.blog-container {
  width: 75%;
  border: 2px solid black;
  margin-top: 40px;
  padding: 0px 20px 50px 20px;
  border-radius: 10px;
}

.blog-title {
  position: relative;
  background-color: white;
  top: -25px;
  margin: 0 auto;
  width: 300px;
}

.blog-entry {
  height: 300px;
}

.blog-entry:hover {
  box-shadow: 5px 5px 5px grey;
  transition: box-shadow 0.5s;
}

.blog-entry img {
  width: 100%;
  margin: 0;
}

.more-button {
  margin-left: 20px;
  display: inline-block;
  color: black;
  margin-top: 20px;
}
