body {
  font-family: "Muli", Arial;
}

.blog-content {
  padding: 10px;
  margin: 0 auto;
  margin-top: 40px;
  max-height: 70vh;
  overflow: auto;
}

.blog-container {
  max-width: 1500px;
  width: 80%;
  margin-top: 20px;
}
