

<% include partials/header %>

<h1> You ate <%= bites%> bites! Yummy!</h1>

<% if (bites > 3) { %>
  <p>Now go for a run fatty.</p>
<% } %>

<h2>PS this is from the eat.ejs file</h2>

<% include partials/footer %>
