img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

#title {
  text-transform: uppercase;
  font-family: Raleway;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  border-bottom: #f1f1f1 2px solid;
  width: 30%;
  padding-bottom: 20px;
}
