<% include ../partials/header-html %>
<% include ../partials/header-nav %>

<h1>
  Add new comment to <%= blogPost.name %>
</h1>
<form action="/posts/<%=blogPost._id%>/comments" method="POST">
  <div class="form-group">
    <label for="textInput">Comment Text</label>
    <input name="comment[text]" type="text" class="form-control" id="textInput" placeholder="Comment Text">
  </div>
  
  <button class="btn btn-outline-success">Submit</button>
</form>
<a href="/posts">Go back</a>

<% include ../partials/footer %>