<% include ../partials/header-html %>
<% include ../partials/header-nav %>
<h1>
  Create a new album review
</h1>
<form action="/posts" method="POST">
  <div class="form-group">
    <label for="nameInput">Album Name</label>
    <input name="name" type="text" class="form-control" id="nameInput" placeholder="Blog Title">
  </div>
  <div class="form-group">
    <label for="imageURLInput">Album Art</label>
    <input name="image" type="text" class="form-control" id="imageURLInput" placeholder="Image URL">
  </div>
  <div class="form-group">
    <label for="artistInput">Artist</label>
    <input name="artist" type="text" class="form-control" id="artistInput" placeholder="Artist Name">
  </div>
  <div class="form-group">
    <label for="reviewInput">Review</label>
    <input name="review" type="text" class="form-control" id="reviewInput" placeholder="Review Text">
  </div>
  <button class="btn btn-outline-success">Submit</button>
</form>
<a href="/posts">Go back</a>

<% include ../partials/footer %>